.services-page {
  padding: 99px 18px;
  background-image: url("../images/IMG_8459.jpg"); 
  background-size: cover;
  min-height: 777px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-position: 50% ;
}

.services {
 
  width: 100%;
}

.service {
margin: 9px;
padding: 9px;
background-color: grey;
}